.exames-container {
    margin-top: 1   0px;
    height: 100vh;
}

.title {
    text-align: center;
    padding-top: 2rem;
    color: #003DA5;
}

.exames {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}

.exames > div {
    text-align: center;
}

.exames > div > p {
    margin-top: 20px;
}

.exames > div > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}